@import 'bootstrap/dist/css/bootstrap.css';
@import './assets/styles/fonts/roboto.css';

#root{
  background-color: #F8FAFF;
  position: relative;
  min-height: 100vh;
}

.page{
  display: flex;
  flex-direction: row;
  font-family: Roboto;
  font-style: normal;
  height: 100%;
}

h3{
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  color: #343434;
  @media screen and (max-width: 375px){
    font-size: 18px;
  }
}


