.base-select{
  position: relative;
  height: 36px;
  width: 100%;

  &__input{
    border: 1px solid #CDCDCD;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    padding: 7px 14px 8px 14px;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #7C7C7C;
    cursor: pointer;
  }

  &__dropdown-btn{
    position: absolute;
    cursor: pointer;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__dropdown{
    list-style: none;
    z-index: 10;
    background-color: #FFFFFF;
    border: 1px solid #CDCDCD;
    border-top: none;
    padding: 0;
  }

  &__dropdown-item{
    padding: 7px 14px 8px 14px;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #7C7C7C;
    text-align: center;
    cursor: pointer;

    &:hover{
      color: #343434;
      background-color: rgb(102, 102, 204, 0.4);
    }
  }
}
