.location{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 7px;
  position: absolute;
  left: 59px;
  top: 22px;
  max-width: 300px;
  min-width: 144px;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  color: #656565;
  @media screen and (max-width: 868px){
    top: 37px;
  }

  &__page-name{
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 7px;
  }

  &__home {
    text-decoration: none;
    color: #656565;

    &:hover{
      color: #6666CC;
    }
  }
}
